
html{
  margin:0;
  /* padding:0 1rem; */
  border: none;
  /* max-width: 70vw; */
  /* min-width: 100%; */
  font-family: "Lato",  sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 3rem;
  /* overflow: hidden; */
  overflow-x: hidden;
  /* border: solid 20% black; */
}

body{
  height: 100%;
  /* min-width: 100vw; */
  width: 100%;
  top: 0;
  left: 0;
  /* left: 50%; */
  /* min-height: 100vh; */
  /* transform: translateX(-50%); */
  /* background-color: rgba(8, 92, 165, 0.805); */
  position: relative;
  z-index: -2;
  /* position: relative; */
  background-attachment:  scroll;
  font-family: "Lato",  sans-serif;
  font-weight: 400;
  line-height: 1.7;
  
}

* {
  font-size: 62.5%;
  /* outline: 2px solid black; */
  box-sizing: inherit;
  
}
 
a {
  color:  #0070f3;
  text-decoration: none;
  font: inherit;
  width: 5rem;
  /* text-decoration: none; */
} 

a:hover {
  
}
form{
  transform: translateY(80%);
}
header{
  display: block;
}
img {
  max-width: 100%;
  display: block;
}


footer{
  height: 10%;
  background-color: black;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0;
  font-size: .75rem;
  /* transform: translateX(-1rem); */
  /* margin: 1rem; */
  
}
main{
  /* background-color: white; */
  margin: 0;
  padding: 0;
  /* transform: translate(50%,50%); */

}

 /* background: url("../public/images/jf-bg.jpg"); */
 @keyframes moveInBottom {
  0% {
  opacity: 0;
  transform: translate(50%,-100%);
}
100% {
  opacity: 1;
  transform: translate(50%,125%);
}
 }

@keyframes moveInRight {
  0% {
    /* animation-delay:.4s; */
  opacity: 0;
  transform: translate(35%,300%);
}

100% {
  opacity: 1;
  transform: translate(80%,300%);
}
}

@keyframes moveInLeft {
  0% {
  opacity: 0;
  transform: translate(100%,500%);
}

100% {
  opacity: 1;
  transform: translateX(45%,500%);
}
}
@keyframes appear{
  0% {
    opacity: 0;

  }
  
  100% {
    opacity: 1;
 
  }

}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 80%; } }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } }