/* min phone: 400 X 800 */

#__next{
    z-index: -1;
}
.blogs,
.contact,
.projects,
.about{
    /* margin: 0; */
    /* padding: 0; */
    /* background-color: rgba(73, 134, 232, 0.993); */
    /* height: 100%; */
    /* min-height: 100%; */
    /* position: absolute; */
    /* top: 0 ; */
    /* left: 0; */
}

/* .about{
    /* background-color: rgba(0, 0, 0, .8); */
    /* right: 0; */
  /* bottom: 0; */
  /* min-width: 100%; */
  /* min-height: 100%; 
  z-index: 10; 
} */


.about{
transform: translate(0,10%);
}
.about--h2:first-child{
    transform: translateY(-20%);
}
.about--h2{
    color: rgb(247, 139, 16,.8) ;
    font-size: 1rem;
    width: 100%;
    /* transform: translateY(-50%); */
    /* left: -10%; */
    /* margin-bottom: 1rem; */
    /* margin: .25rem auto; */
    /* display: block; */
}
.about--p:not(:first-child){
    /* transform: translateY(100%); */
}
.about--p{
    color: white;
    font-size: .5rem;
    /* left: 5%; */
    display: block;
    /* transform: translateY(50%); */
    
    /* display: block; */
    /* transform: translateY(80%); */
    /* margin: .75rem auto; */
    /* top: -100%; */
}
.about--h3{
    /* margin: .5rem 0; */
    width: 80%;
    font-size: .50rem;
}

.container{
    /* display: absolute; */
    margin-left:auto;
    margin-right:auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1rem;
    /* height: 100%; */
    width: 100%;
    /* max-width: fit-content; */
    /* background-size: cover; */
    /* transform: translateY(-1rem); */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 20; */
    
}
.bg-video {
  
    height: 100%;
    width: 100%;
    z-index: -5;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
    right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  

}

.bg-video-light {
  
    height: 100%;
    width: 100%;
    z-index: -5;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
    right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  opacity: 75%;
  

}
.normal{
    background-attachment: fixed;
}

.scroll {
    /* opacity: .55; */
    background-attachment:  scroll;
    overflow-y: auto;
    
    /* position: fixed; */
}
.dark{
    background-color: black;
    background-attachment: scroll;
    z-index: 100;
    opacity: .75;
    height: 100%;
    transform: translate(0,10%);
   
}

.bg-video__content {
    /* height: 100%;
    width: 100%;
    -o-object-fit: cover;*/
    object-fit: cover; 
    background-attachment:  scroll; 
    position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-100;
    
}
.box{
    transform: translateY(7%);
    /* position: absolute; */
    /* z-index: 20; */
    
}
.blogs__heading{
 text-align: center;
 width: 100%;  
 height: auto;
 transform: translate(0,50%); 
 font-size: 1rem;
}
.blogs__box{
    background-color:  rgb(247, 139, 16,.7);
    color: white;
    width: 100%;
    display: block;
    height: 100%;
    margin: 3%;
    top: 0;
    left: 0;
    min-height: 70vh;
    /* margin-top: 10%; */
    /* transform: translate(0%,5%); */
    /* text-align: center; */
}
.blogs__p{
    font-size: 1rem;
}
.card__blogs{
    background-color:  rgb(247, 139, 16,.7);
    color: white;
    width: 60%;
    display: block;
    height: 50%;
    margin: 3%;
    top: 0;
    left: 0;
    /* min-height: 20vh; */
    transform: translate(25%,10%);
    /* text-align: center; */
}
.card__blogs:last-child{
    margin-bottom: 1rem;
}
.card-content__blogs{
    background-color: transparent;
}
.card__heading{
    font-size: .5rem;
    text-align: center;
}
.card__heading--date{
    font-size: .4rem;
    text-align: right;
    padding-right: 10%;
}
.card__heading--desc{
    font-size: .4rem;
    background-color: transparent;
    width: 65%;
    /* align-items: center; */
    color: white;
    border: none;
    height: 100%;
    transform: translateY(-40%);
}
.card__link{
    text-decoration: none;
    color: white;
    font-size: .7rem;
    text-align: center;
    width: 100%;
}
.card__link:hover{
    background-color: white;
    color:  rgb(247, 139, 16);
}

.contact{
    transform: translate(0,20%);
    height: 75%;
    text-align: center;
    align-items: center;
    /* background-attachment: scroll; */
    
}
.contact__container{
    width: 60%;
    height: 50%;
    transform: translate(30%,30%);
    /* justify-content: center; */
    
}
.contact__email{
    transform: translate(0,100%);
    font-size: 2rem;
}
.contact__links{
    /* align-items: center; */
    /* text-align: center; */
    /* transform: translate(0%,0); */
    /* align-items: center;    */
    display: block;
    height: 100%;
    
}
.contact__link{
    text-decoration: none;
    text-transform: uppercase;
    color: transparent ;
    background-image: linear-gradient(to right,  rgb(247, 139, 16),  #eff2f6);
   backface-visibility: hidden;
   -webkit-background-clip: text;
   /* scale:(5.0); */
   -webkit-transition: all .3s ease-in-out;
}
.contact__link:hover {
    /* text- */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, .7);
    /* -webkit-transform:scale(5.0,3.0); */
    /* transition-delay:.3s; */
    /* scale: 3; */
}

.form__contact{
    transform: translateY(15%);
    /* height: 75%; */
}

.footer__link{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: relative;
    color: grey;
    /* transform: translateY(-70%); */
}
.footer__links{
    /* left: -50%; */
    display: inline-flex;
   
    /* transform: translate(40%,50%); */

    
}
.form__button{
    width: 45%;
    height: 45%;
    font-size: .8rem;
    transform: translate(50%,-30%);
    background-color: white;
    border-radius: 40%;
    background-image: linear-gradient(to right,  rgb(247, 139, 16),  #eff2f6);
    border: none;
    color: white;
    text-align: center;
}

.form__contact{
    /* position: absolute; */
    transform: translate(15%,5%);
    align-items: center;
    justify-content: center;
    /* transform: translateY(20%); */
    width: 80%;
    height: 12%;
    top: 0;
    left: 0;
    padding-left: 1rem;
    
    /* transform: translate(30%,70%); */
}

.form__group{
    align-items: center;
}

.form__group:last-child {
    margin-bottom: 0;
}
.form__input {
    font-size: .5rem;
    /* padding: .15rem 2rem; */
    border-radius: 3px;
    background-color: rgba(253, 250, 250, 0.5);
    border: none;
    font-family: inherit;
    color: inherit;
    border-bottom: 3px solid transparent;
    width: 75%;
    display: block;
    transition: all .3s;
    z-index: 5;
    transform: translateY(60%);
    color:  rgba(50, 48, 48, 0.586);
}
.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgbs(#000,  0.1);
    /* border-bottom: 3px solid #7ed56f; */
}
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
    color: #999;
}
.form__label {
    font-size: .5rem;
    font-weight: 300;
    /* margin-left: .2rem; */
    margin-top: 5%;
    display: block;
    transition: all .3s;
    color: #ff7730;
}
.form__input:-moz-placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    color: #ff7730;
}
.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    color: #ff7730;
}

.full{
    width: 100%;
    height: 90%;
}
.msg{
    /* width: 75%; */
    height: 3.5rem;
    transform: translateY(10%);
}
.heading{
    color: transparent;
    text-transform: uppercase;
    backface-visibility: hidden;
    /* position: absolute; */
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    background-image: linear-gradient(to right,  rgb(247, 139, 16),  #eff2f6);
    -webkit-background-clip: text;
    display: block;
}
.heading__about{
    color: transparent;
    text-transform: uppercase;
    backface-visibility: hidden;
    position: relative;
    /* font-size: 1rem; */
    /* text-align: center; */
    letter-spacing: 2px;
    background-image: linear-gradient(to right,  rgb(247, 139, 16),  #eff2f6);
    -webkit-background-clip: text;
    display: block;
    margin: .25rem 0;
    /* transform: translateY(30%); */
}
.heading__blog{
    font-size: 2rem;
    height: 20%;
    display: block;
}
.header__home{
    /* align-items: center; */
    /* height: 90%; */
    /* margin: 0; */
    /* padding: 0; */
    /* position: relative; */
    /* background-position: top; */
    /* background-size: cover; */
  }
  .heading__home{
    align-items: center;
    width: 75%;
    height: 60%;
    transform: translate(0,30%);
  }
.heading-primary{
    /* margin-bottom: 3rem; */
    /* top: 0;
    left: 0; */
    animation: moveInBottom 1.5s ease-in-out;
    transition: all .3s;
    font-size: 1rem;
   
}


.heading-primary:hover {
    /* transform: translate(-15%,80%) scale(1.4); */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, .7);
    
    transition-delay:.3s;
}
.heading-secondary{
   
    /* top: 0;
    left:0;
    
    transform: translate(80%,300%); */
    transition: all .3s;
    animation: moveInRight 1.5s ease-in-out;
    /* margin-bottom: 3rem; */
    /* animation-delay: .3s; */

}
.heading-secondary:hover{
    /* transform: translate(35%,10%) scale(1.2); */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, .7);
    transition-delay:.3s;
    
}
.heading-form{
    transform: translate(50%,30%);
     text-align: center;
    width: 100%; 
    /* position: fixed; */
}
.heading-form,
.heading-tertiary{
    background-image: linear-gradient(to right,  rgb(247, 139, 16),  #eff2f6);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    backface-visibility: hidden;
    /* position: absolute; */
    /* letter-spacing: 2px; */
    /* position: absolute; */
    /* letter-spacing: 3px; */
    transition: all .3s;
   
}
.heading-tertiary{
    /* transform: translate(48%,500%); */
    animation: moveInLeft 1.5s ease-in-out;
    /* top: 0;
    left: 0; */
    /* font-size: 1rem; */

}
.heading-form{
    margin: 0;
    width: 50%;
    /* padding: 6rem; */
    /* transform: translate(30%,-80%); */
    font-size: 1rem;
    
}

.heading-tertiary:hover {
    /* transform: translate(65%,10%) scale(1.2); */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, .7);
    transition-delay:.3s;
}
/* .home-profile-img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    vertical-align:"middle";
} */

.home-profile-img{
    /* float: left; */
    border-radius: 50%;
    width: 20%;
    height: 60%;
    /* outline: solid 3px black;; */
    transform: translate(-50%, -145%);
    transition: all .5s;
    animation: appear 2.5s ease-in-out;
    /* position: absolute; */
    z-index: 5;
}
.light{
    background-image: linear-gradient(110deg,  rgba(0, 0, 0, 0.9),  rgba(1, 0, 0, 0.9) 50%,  black 70%) ;
    z-index: 5;
}

.nav-border{
    height: 35%;
    width: 100%;
}
.navigation{
    float: absolute;
    /* margin: 0 auto;  */
    /* padding: 0; */
    width: 100%;
    /* margin-bottom: 20%; */
    height: 30%;
    justify-content: center;
    /* position: absolute; */
    z-index: 5;
    /* position: fixed; */
    /* top: 0; */
    /* left: -50%; */
    /* transform: translateX(50%); */
}
.navigation__links{
    display: flex;
    
    /* margin: 0 auto;  */
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    /* text-align: center; */
    
    
}
.navigation__link{
    text-decoration: none;
    text-transform: uppercase;
    /* margin: 3rem; */
    /* position: fixed; */
    color: white;
   border-radius: 50%;
    display: block;
    width: 3rem;
   height: 1rem;
   text-align: center;
   transition: all .2s;
   /* transform: translateY(50%); */
   /* left: 50%; */
   /* align-items: center; */
   /* text-align: center; */
   font-size: .50rem;
}
.navigation__link:hover{
    background-color: white;
    color: rgb(30, 168, 237);
}

.navigation__link--span{
    width: 3rem;    
    height: 3rem;
    font-size: 5rem;
    /* text-align: center; */
    transform: translateY(-30%);

}
.row {
    max-width: 114rem;
    margin: 0 auto;
}
.row:not(last-child) {
    margin-bottom: 8rem;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.row [class^="col-"] {
    float: left;
}
.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}
.row .col-1-of-2 {
    width: calc((100% - 6rem)/2);
}
.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3);
}
.row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4);
}
.row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem);
}
.row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
.text-small{
    font-size: .5rem;
}
.text-medium{
    font-size: 1rem;
}
@media only screen and (max-width: 25.5em){
    .contact__container{
        transform: translate(23%,30%);
    }
    .contact__email{
        transform: translate(0%,200%) ;
      }
    .footer__links{
        transform: translate(0%,0%);  
    }
    .form__input {
        font-size: 1rem;
    }
    .navigation__links{
        width:75%
        
      }
      .home-profile-img{
        /* transform: translate(90%, 0%); */
        width: 40%;
      height: 40%;
       }
       .text-medium{
        font-size: .55rem;
      }
      
       
}
@media only screen and (max-width: 60.5em) {
    .contact__links{
        font-size: 100%;
    }
    .dark{
        transform: translate(0,5%);
       }
     .home-profile-img{
      transform: translate(110%, 0%);
      width: 30%; 
     height: 40%; 
     }
     .heading__home{
        /* align-items: center; */
        width: 100%;
        height: 100%;
        transform: translate(0,10%);
      }
      .text-medium{
        font-size: 2rem;
      }
      
       
    } 
